.about {
  position: relative;
  z-index: 10;
  padding: 80px;
  box-shadow: 0 -5px 15px rgba(0,0,0,.3), 0 5px 15px rgba(0,0,0,.3);
  text-align: center;
  background-color: #fff;
}

.avatar {
  display: inline-block;
  width: 120px;
  height: 120px;
  margin: 10px;
  margin-right: 20px;
  border-radius: 1000px;
}

.about-text {
  display: flex;
  align-items: center;
  max-width: 900px;
  margin: 0 auto;
  text-align: left;
}

@media (max-width: 800px) {
  .about {
    padding: 30px;
  }

  .about-text {
    display: flex;
    flex-direction: column;
  }

  .avatar {
    width: 200px;
    height: 200px;
    margin: 10px;
    margin-bottom: 40px;
  }
}
