.about {
  position: relative;
  z-index: 10;
  box-shadow: 0 5px 15px #718caf;
  text-align: center;
  background-color: #fff;
}

.about p {
  margin: 10px 0;
  text-align: justify;
}

.about a {
  font-weight: 600;
  text-decoration: none;
  border-bottom: 2px solid transparent;
  color: #5C7CA8;
  transition: 200ms;
}

.about a:hover {
  border-color: #5C7CA8;
}

.about a:visited {
  /*color: #415c82;*/
}

.avatar {
  display: inline-block;
  float: left;
  width: 180px;
  height: 180px;
  margin: 10px;
  margin-right: 20px;
  border-radius: 1000px;
}

.about-text {
  max-width: 1000px;
  margin: 0 auto;
  text-align: left;
}

.about-text::after {
  content: "";
  display: table;
  clear: both;
}

@media (max-width: 800px) {
  .about-text {
    display: flex;
    flex-direction: column;
  }

  .avatar {
    margin: 10px auto;
    margin-bottom: 40px;
  }
}
