.about {
  position: relative;
  z-index: 10;
  padding: 80px;
  box-shadow: 0 -5px 15px rgba(0,0,0,.3), 0 5px 15px rgba(0,0,0,.3);
  text-align: center;
  background-color: #fff;
}

.about p {
  margin: 10px 0;
  text-align: justify;
}

.about a {
  font-weight: 600;
  text-decoration: none;
  border-bottom: 2px solid transparent;
  transition: 200ms;
}

.about a:hover {
  border-color: rgba(88, 121, 168, 1);
}

.about a:visited {
  color: rgba(88, 121, 168, 1);
}

.avatar {
  display: inline-block;
  float: left;
  width: 120px;
  height: 120px;
  margin: 10px;
  margin-right: 20px;
  border-radius: 1000px;
}

.about-text {
  max-width: 950px;
  margin: 0 auto;
  text-align: left;
}

.about-text::after {
  content: "";
  display: table;
  clear: both;
}

@media (max-width: 800px) {
  .about {
    padding: 30px;
  }

  .about-text {
    display: flex;
    flex-direction: column;
  }

  .avatar {
    width: 200px;
    height: 200px;
    margin: 10px auto;
    margin-bottom: 40px;
  }
}
