.contact {
  /*box-shadow: 0 -5px 10px #7d99bd, 0 7px 10px #536b8b;*/
  background: #fff;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
}

.contact-msg {
  max-width: 400px;
  margin: 0 auto 20px;
  border-top: 1px solid #ddd;
  padding-top: 18px;
}

.email-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

.email-form input {
  border: 1px solid #5C7CA8;
  border-radius: 3px;
  padding: 5px;
  padding-left: 8px;
  margin-bottom: 20px;
  height: 40px;
  font-size: 14px;
}

.email-form textarea {
  border: 1px solid #5C7CA8;
  border-radius: 3px;
  padding: 8px;
  margin-bottom: 20px;
  font-size: 14px;
  height: 200px;
  resize: vertical;
}

.email-form input::placeholder,
.email-form textarea::placeholder {
  color: #5C7CA8;
}

.email-form button {
  height: 40px;
  border-radius: 3px;
  background-color: #5C7CA8;
  border: 2px solid #5C7CA8;
  color: #fff;
  font-size: 18px;
  transition: 200ms;
}
.email-form button:hover {
  cursor: pointer;
  background-color: #4576ba;
  border: 2px solid #4576ba;
  transform: scale(1.025);
}
.email-form button:active {
  transform: scale(1.01);
  outline: none;
}

.email-form label {
  align-self: flex-start;
  font-size: 14px;
  margin-bottom: 4px;
  font-family: 'Open Sans';
  font-weight: 600;
}

.web-links {
  display: flex;
  justify-content: space-between;
  margin: 20px auto;
  width: 150px;
}

.web-links a {
  border: none;
}

.web-links svg {
  height: 40px;
  fill: #5b7ca8;
  transition: 200ms;
}

.web-links svg:hover {
  transform: scale(1.1);
  cursor: pointer;
}

#github:hover {
  fill: #6e5494;
}

#linkedin:hover {
  fill: #0077b5;
}

@media (max-width: 800px) {
  .web-links {
    margin-top: 30px;
  }
}
