header {
  position: relative;
  height: 100vh;
  padding: 0 20px;
  background-image: url('../../assets/hero-image.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-position: top;
  background-repeat: no-repeat;
  text-align: center;
  color: #fff;
  text-shadow: 0px 2px 1px rgba(0,0,0,.6);
}

nav {
  margin: 10px auto 0;
  padding-top: 20px;
  border-top: 1px solid;
  width: 280px;
}

nav a {
  margin: 0 10px;
  padding: 10px 2px;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
  border-bottom: 3px solid transparent;
  transition: 200ms;
  font-family: 'Open Sans';
  text-transform: uppercase;
}

nav a:hover {
  padding: 10px 2px 4px;
  border-color: #fff;
}

.hero-text {
  font-family: 'Acme';
}

.name,
.tagline {
  margin: 0;
}

.name {
  font-size: 70px;
  padding-top: 100px;
  margin-bottom: -20px;
}

.tagline {
  font-size: 30px;
}



@media (max-width: 600px) {
  nav {
    justify-content: center;
  }

  .name {
    font-size: 50px;
    margin-bottom: 10px;
    line-height: 1;
  }

  .tagline {
    font-size: 20px;
  }
}

/*iPhone 6*/
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2) {
    header {
      background-attachment: inherit;
    }
}

/*iPhone 6+*/
@media only screen
  and (min-device-width: 414px)
  and (max-device-width: 736px)
  and (-webkit-min-device-pixel-ratio: 3) {
    header {
      background-attachment: inherit;
    }
}
