footer {
  position: fixed;
  z-index: -10;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  width: 100%;
  padding: 20px;
  background-color: #5C7CA8;
  /*background-blend-mode: multiply;
  background-image: url('../../assets/hero-image.jpg');
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;*/
  color: #fff;
  text-shadow: 0px 1px 1px #5b6e8e;
  font-size: 12px;
  font-family: "Open Sans";
}

footer span {
  display: flex;
  align-items: center;
  font-weight: 600;
}

.heart-icon {
  height: 11px;
  margin: 0 5px;
  text-shadow: 0px 1px 1px rgba(0,0,0,.6);
  filter: drop-shadow(0px 1px 1px rgba(0,0,0,.6));
  animation: pulse 1s infinite;
}

@keyframes pulse {
  15% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.4);
  }
  85% {
    transform: scale(1);
  }
}

@media (max-width: 800px) {
  footer {
    flex-direction: column;
  }
}
