@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');
@import url('https://fonts.googleapis.com/css?family=Baloo');

* {
  box-sizing: border-box;
}

p {
  margin: 0;
  line-height: 1.6;
}

body {
  margin: 0;
  padding: 0 0 80px;
  font-family: 'Open Sans', sans-serif;
  background-color: rgba(88, 121, 168, 1);
}

.section-heading {
  font-size: 30px;
  margin-top: 0;
}
