@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');
@import url('https://fonts.googleapis.com/css?family=Ubuntu+Mono:700');

* {
  box-sizing: border-box;
}


body {
  margin: 0 0 80px;
  font-family: 'Open Sans', sans-serif;
  background-color: rgba(57,101,164,1);
}

p {
  margin: 0;
  line-height: 1.7;
}

section {
  padding: 40px 80px 80px;
}

.section-heading {
  font-size: 30px;
  margin: 0 auto 40px;
  font-family: 'Ubuntu Mono', monospace;
}

@media (max-width: 1000px) {
  section {
    padding: 40px;
  }
}
@media (max-width: 600px) {
  section {
    padding: 40px 20px 20px;
  }
}
