@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');
@import url('https://fonts.googleapis.com/css?family=Ubuntu+Mono:700');

* {
  box-sizing: border-box;
}

p {
  margin: 0;
  line-height: 1.7;
}

body {
  margin: 0 0 80px;
  font-family: 'Open Sans', sans-serif;
  background-color: rgba(57,101,164,1);
}

.section-heading {
  font-size: 30px;
  margin-top: 0;
  font-family: 'Ubuntu Mono', monospace;
}
